<?xml version="1.0" encoding="utf-8"?>
<manifest package="cz.vutbr.fit.brnogo"
		  xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:name="cz.vutbr.fit.brnogo.App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>

		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/google_maps_api_key"/>

		<activity
			android:name="cz.vutbr.fit.brnogo.ui.splash.SplashActivity"
			android:theme="@style/SplashActivityTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name="cz.vutbr.fit.brnogo.ui.main.MainActivity"
			android:theme="@style/TransparentStatusBarActivityTheme"/>

		<activity
			android:name="cz.vutbr.fit.brnogo.ui.stop.StopSearchActivity"
			android:launchMode="singleTop">

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />

			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
		</activity>

		<activity
			android:name="cz.vutbr.fit.brnogo.ui.departures.DeparturesActivity"/>

		<activity
			android:name="cz.vutbr.fit.brnogo.ui.directions.DirectionsActivity"/>

		<activity
			android:name="cz.vutbr.fit.brnogo.ui.route.RoutesActivity"/>

		<activity
			android:name="cz.vutbr.fit.brnogo.ui.route.detail.RouteDetailActivity"/>

		<activity
			android:name="cz.vutbr.fit.brnogo.ui.route.navigation.RouteNavigationActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name="cz.vutbr.fit.brnogo.ui.settings.SettingsActivity"/>

		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true"
			tools:replace="android:authorities">

			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/fileprovider_paths"
				tools:replace="android:resource"/>
		</provider>

	</application>
</manifest>




